body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
    color: #333;
}

#edit-button {
    padding: 10px;
    background-color: #0001fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}
#edit-button:hover {
    background-color: #0000b3;
}

.div-favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.div-favorites ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.div-favorites li {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-favorites li img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 10px;
}

.div-favorites li p {
    margin: 10px 0;
    font-size: 14px;
}



.pag-initial-button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


.pag-initial-button:hover {
    background-color: #e91e63;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

form button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 30px;
    color: #333;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

ul li {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

ul li img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

ul li p {
    font-size: 16px;
    color: #333;
    margin: 0;
}


form button[type="submit"] {
    background-color: #f44336;
}

form button[type="submit"]:hover {
    background-color: #e53935;
}
